[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 180
tab_width = 4

[{*.sh, mvnw, gradlew}]
end_of_line = lf

[{*.yml, *.yaml}]
indent_size = 2

[{*.html, *.xml}]
indent_size = 2

[{*.json, *.json5}]
indent_size = 2

[*.md.mustache]
indent_size = 0
insert_final_newline = false
